.square{
    -fx-border-style: solid;
    -fx-background-color: "#a3b18a";
}

.square:hover {
    -fx-background-color: yellow;
}

.square.selected {
    -fx-border-width: 5;
    -fx-border-color: slategray;
}
